---
layout: none
title: Resume
permalink: /resume
options: fullwidth, nomenu, nohead, nolanding, nobreadcrumb
desc: A formal resume of my work and experience.
image: logo.png
sitemap:
  priority: 0.4
---

<section class="resume">
  <div id="sidebar" class="sidebar">
    <div class="img-container">
      <img src="{{ page.image | prepend: "/images/" | prepend: site.baseurl }}" class="resume-image"/>
    </div>
    <div class="side-skills section" >
        <h3>Skills</h3>
        {% for skill in site.data.bars %}
          <div class="skill-container">
            <span class="white-text">{{ skill.id }}</span>
            <div class="progress margin-bot">
              <div class="progress-{{ skill.xp }}"></div>
            </div>
          </div>
        {% endfor %}
    </div>
    <style>
      @font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.4.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
      .fa-github:before{content:"\f09b";}.fa-deviantart:before{content:"\f1bd";}.fa-dribbble:before{content:"\f17d"}.fa-twitter:before{content:"\f099";}.fa-linkedin-square:before{content:"\f08c";}.fa-envelope-o:before{content:"\f003";}
    </style>
    <div id="contact" class="section">
      <h3>Contact</h3>
      <ul class="icons">
        {% for socloc in site.social %}
          {% if socloc[1] %}
            {% if socloc[0] == 'email' %}
              <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"><span class="label">E-mail</span></a></li>
            {% else %}
              {% unless socloc[0] == 'dribbble' %}
                <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}">
                <span class="label">{{ socloc[0] }}</span></a></li>
              {% endunless %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="resume-content">
    <div class="head">
      <h1 class="name">BigThings</h1>
      <h4 class="desc">我们是做大事的！！！</h4>
    </div>
    <!-- <hr> -->
    <div class="resume-section">
      <h2 id="title">开发者</h2>
      <p>我们是开发者</p>
    </div>
    <div class="sub" id="work">
      <div class="left">
        <h4>工作经历</h4>
      </div>
      <div class="right">
          <div class=entry>
              <h5>Web开发</h5>
              <h6><i>Developer/Designer</i> &#x1f784; 2014&#x2013;2015</h6>
              <p>Web开发</p>
          </div>
      </div>
    </div>

    <div class="sub" id="project">
      <div class="left">
        <h4>项目</h4>
      </div>
      <div class="right">
        <div class=entry>
          <h5><a href="https://github.com/JonSn0w/Hyde" target="_blank">Hyde</a></h5>
          <h6><i>Javascript</i> &#x1f784; 2017&#x2013;Current</h6>
          <p>JavaScript</p>
        </div>
    </div>
  </div>
</section>
